@import "bourbon";

.back {
  width: 100%;
  height: 1100px;
  background: #FFFFFF;

}

.blue-purple {
  @include linear-gradient(to right, #1D2B64, #F8CDDA);
  @include animation(fadeInOut 25s ease);
  @include animation-fill-mode(forwards);
  @include animation-iteration-count(infinite);
}

.green-blue {
  @include linear-gradient(to right, #43cea2, #185a9d);
  @include animation(fadeOutIn 25s ease);
  @include animation-fill-mode(forwards);
  @include animation-iteration-count(infinite);
}

@include keyframes(fadeInOut) {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(fadeOutIn) {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include keyframes(fadeOut) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
